@charset "utf-8";@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{font-family:'Noto Sans KR',sans-serif;}
body,div,ul,nav,header,main,h2,figure,span,p,hr{margin:0; padding: 0;}
a{color:#000;text-decoration:none;}
li{list-style: none;}